<div class="login-main">
  <mat-card class="login-card">
    <mat-tab-group>
      <mat-tab label="Login">
        <mat-card-content>
          <form [formGroup]="loginForm">
            <mat-form-field class="formField" appearance="outline">
              <mat-hint>Place your University Email</mat-hint>
              <input matInput placeholder="User name" formControlName="userName" />
              <mat-error *ngIf="loginForm.controls['userName'].invalid">
                Check user name
              </mat-error>
            </mat-form-field>
            <mat-form-field class="formField" appearance="outline">
              <mat-hint>Enter your password</mat-hint>
              <input
                matInput
                placeholder="Password"
                formControlName="userPassword"
                type="password"
              />
              <mat-error *ngIf="loginForm.controls['userPassword'].invalid">
                Check the password
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions style="margin:auto 0">
          <button mat-raised-button style="float: right;" color="primary" (click)="login()">
            Login
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab label="Register">
        <mat-card-content>
          <form [formGroup]="loginForm">
            <mat-form-field class="formField" appearance="outline">
              <mat-hint>Place your University Email</mat-hint>
              <input matInput placeholder="User name" formControlName="userName" />
              <mat-error *ngIf="loginForm.controls['userName'].invalid">
                Check user name
              </mat-error>
            </mat-form-field>
            <mat-form-field class="formField" appearance="outline">
              <mat-hint>Enter your password</mat-hint>
              <input
                matInput
                placeholder="Password"
                formControlName="userPassword"
                type="password"
              />
              <mat-error *ngIf="loginForm.controls['userPassword'].invalid">
                Check the password
              </mat-error>
            </mat-form-field>
            <mat-form-field class="formField" appearance="outline">
              <mat-hint>Enter your password</mat-hint>
              <input
                matInput
                placeholder="Admin Password"
                formControlName="adminPassword"
                type="password"
              />
              <mat-error *ngIf="loginForm.controls['adminPassword'].invalid">
                Check the password
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions style="margin:auto 0">
          <button mat-raised-button style="float: right;" color="primary" (click)="register()">
            Register
          </button>
        </mat-card-actions>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
