<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-info">
        <h3 class="card-title">Book Requests</h3>
        <p class="card-category">
          All the book requests published by the
        </p>
      </div>
      <div class="card-body">
        <div class="example-loading-shade" *ngIf="!(bookRequests | async)">
          <mat-spinner *ngIf="bookRequests"></mat-spinner>
        </div>
        <mat-card *ngFor="let bookRequest of bookRequests | async" style="margin-bottom: 8px;">
          <div class="row">
            <div class="col-sm-2">
              <img [src]="bookRequest.file['imageURL']" class="book-cover" />
            </div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6">
                  <div>{{ bookRequest.title }}</div>
                  <div>
                    <b>Authors</b> :
                    <span *ngFor="let author of bookRequest.authors">{{ author }}</span>
                  </div>
                  <div>{{ bookRequest.description }}</div>
                </div>
                <div class="col-sm-6">
                  <div><b>ISBN</b> : {{ bookRequest.ISBN }}</div>
                </div>
              </div>
              <div style="float: right">
                <button mat-raised-button (click)="approveRequest(bookRequest.docRef)">
                  Approve
                </button>
                <button mat-raised-button color="warn" (click)="rejectRequest(bookRequest.docRef)">
                  Reject
                </button>
              </div>
              <hr />
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
